@font-face {
  font-family: Gotham;
  src: url(Gotham-Book.ttf);
}

td {
  width: 200px;
}

#files {
  height: 500px;
  overflow: scroll;
}

button {
  outline: none;
  background-color: #667CD6;
  color: white;
  border: none;
  font-family: Gotham;
  font-size: 1.2em;
  box-shadow: 1px 1px 1px black;
}

input[type=submit] {
  outline: none;
  background-color: #667CD6;
  color: white;
  border: none;
  box-shadow: 1px 1px 1px black;
  font-size: 1.2em;
}

input[type=text], input[type=number], input[type=password] {
  font-family: Gotham;
  font-size: 1.2em;
}

input[type=text] {
  margin-top: 15px;
  border: none;
  border-bottom: 2px solid black;
}

input[type=text]:focus {
  outline: none;
}

p, h1 {
  font-family: Gotham;
}

p {
  font-size: 1.3em;
}

#container {
  width: 50%;
  margin: auto;
}

table {
  font-family: Gotham;
  font-size: 1.2em;
}

button:hover, input[type=submit]:hover {
  cursor: pointer;
}
